<!doctype html>
<html>
   <body>
      <table border=1>
         <thead>
            <tr>
               <th>Transaction ID</th>
               <th>Sender Name</th>
               <th>Sender UPI ID</th>
               <th>Receiver Name</th>
               <th>Receiver UPI ID</th>
               <th>Amount (INR)</th>
               <th>Status</th>
            </tr>
         </thead>
         <tbody>
            {% for row in rows %}
            <tr>
               <td>{{ row['id'] }}</td>
               <td>{{ row['sender_name'] }}</td>
               <td>{{ row['sender_upi'] }}</td>
               <td>{{ row['receiver_name'] }}</td>
               <td>{{ row['receiver_upi'] }}</td>
               <td>{{ row['amount'] }}</td>
               <td>{{ row['status'] }}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
      <a href="/">Back to Home</a>
   </body>
</html>